<!--mensagens vem das variáveis globais no app.js-->
{{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

<!--mensagens vem das variáveis globais no app.js-->
{{#if error_msg}}
    <div class="alert alert-success">{{error_msg}}</div>
{{/if}}